

<div class="shop-product">
  <div class="shop-content">
    <a href="#">{{data?.vendorName}}</a>
    <h3 [fxHide]="!isLocalShop">Pro: Zohir Uddin</h3>
    <h2>14,500 products </h2>
    <ul [fxHide]="!isLocalShop">
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
  </div>
  <div class="shop-product-img">
    <div>
      <img src="/assets/images/junk/120e5211da5ad347ae0fe5379980ff04.jpg" alt="#">
    </div>
    <div>
      <img src="/assets/images/junk/b31b5f9ba5248ce67f4c834a2ec72aa8.jpg" alt="#">
    </div>
    <div>
      <img src="/assets/images/junk/f09212b26a81c47b84be1f1e8ef2d12d.jpg" alt="#">
    </div>
  </div>

  <div class="location" [fxHide]="!isLocalShop">
    <span><small><i class="fa fa-map-marker"></i></small>Mirpur,Dhaka</span>
  </div>
  <div class="shop-heart" [fxHide]="!isLocalShop">
    <span><i class="fa fa-heart"></i></span>
  </div>
</div>
