@import "../variables";

/** start Main Coding */
.payment-success-area {
  width: 100%;
  height: calc(100vh - 136px);
  //background-color: rgba(1, 136, 204, .7);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 520px;
  }
}

.payment-success-main {
  display: block;
  max-width: 600px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 40px 30px;
  margin: auto;
  border-radius: 7px;
}

/** payment-success-top **/
.payment-success-top {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-bottom: 7vh;
  text-align: center;
}

.payment-success-icon {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.payment-success-icon span {
  width: 40px;
  height: 40px;
  background-color: #2aaa71;
  border-radius: 50%;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6fffd;
  margin: 0px auto 20px auto;

  i {
    color: #FFFFFF;
  }
}

.payment-success-icon span.cancel {
  background-color: #e80c4a;
  i {
    color: #FFFFFF;
  }
}

.payment-success-title {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  text-align: center;
}

.payment-success-title h4 {
  color: #2aaa71;
  font-family: $font-en-primary;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  display: block;
  line-height: 27px;
}

.payment-success-title h4.cancel {
  color: #e80c4a;
}

/** payment-success-details**/
.payment-success-details-area {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.payment-success-details {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  height: auto;
}

.left {
  float: left;
  width: 45%;
  text-align: left;
}

.left span {
  font-weight: 500;
  font-style: normal;
  font-family: $font-en-primary;
  display: block;
  color: #8d8c9a;
  display: block;
  font-size: 14px;
}

.right {
  float: right;
  text-align: right;
  width: 55%;
}

.right span {
  font-weight: 500;
  font-style: normal;
  font-family: $font-en-primary;
  display: block;
  color: #8d8c9a;
  display: block;
  font-size: 14px;
}

.right a {
  font-weight: 500;
  font-style: normal;
  font-family: $font-en-primary;
  display: block;
  color: #8d8c9a;
  display: block;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bold {
  font-weight: 600 !important;
}

.my {
  margin-top: 20px !important;
  margin-bottom: 20px !important;

}

.btn {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  margin-top: 5vh;
  text-align: center;

  button {
    background: #e72e5f;
    padding: 2px 24px;

    ::ng-deep {
      span {
        color: #fff;
      }
    }
  }
}

@media(max-width: 360px) {
  .payment-success-main {
    padding: 40px 20px;
  }
  .payment-success-top {
    margin-bottom: 5vh;
  }
}
