

<div class="product-serivces-area">
    <div class="product-services-main">

        <!---product-services-details-->
        <div class="product-services-details">
            <!--img-->
            <div class="product-services-img">
                <img src="../../../../assets/images/icons/svg/delivery.svg" alt="">
            </div>
            <!--text-->
            <div class="product-services-text">
                <a href="javascript:">Free Delivery</a>
                <h4>Orders Over ৳ 0</h4>
            </div>
        </div>

          <!---product-services-details-->
          <div class="product-services-details">
            <!--img-->
            <div class="product-services-img">
                <img src="../../../../assets/images/icons/svg/money-bag.svg" alt="">
            </div>
            <!--text-->
            <div class="product-services-text">
                <a href="javascript:">Best Warranty Policy</a>
                <h4>With A 30 Day</h4>
            </div>
        </div>

          <!---product-services-details-->
          <div class="product-services-details">
            <!--img-->
            <div class="product-services-img">
                <img src="../../../../assets/images/icons/svg/best_online.svg" alt="">
            </div>
            <!--text-->
            <div class="product-services-text">
                <a href="javascript:">Best Online Support</a>
                <h4>Hours: 9AM -5PM</h4>
            </div>
        </div>

         <!---product-services-details-->
         <div class="product-services-details">
            <!--img-->
            <div class="product-services-img">
                <img src="../../../../assets/images/icons/svg/piggy.svg" alt="">
            </div>
            <!--text-->
            <div class="product-services-text">
                <a href="javascript:">Get Best Offers</a>
                <h4>Enter Now</h4>
            </div>
        </div>

    </div>
</div>
