<div class="viewuser">
  <h2> User Profile</h2>

  <hr/>
  <div>

    <table class="table">
      <tbody>
        <tr>
          <th>Name</th>
          <td>Md. Al Mahmud Imran</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>imran@gmail.com</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>Male</td>
        </tr>
        <tr>
          <th>Birthday</th>
          <td>27th April 1996</td>
        </tr>
      </tbody>
    </table>

  </div>
  <br>
  <br>
  <div>

  <hr/>
    <table class="table">
      <tbody>
        <tr>
          <th><button mat-raised-button color="primary" (click)="edit()">Edit Info</button><br></th>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <br>
  <button mat-raised-button color="basic" (click)="dashboard()">Go Back</button><br>

</div>

