<div class="container">
  <swiper [navigation]="true" [loop]="true" [autoplay]="{
    delay: 2500,
    disableOnInteraction: false
  }" [pagination]="true" class="mySwiper">
    <ng-template swiperSlide><img src="\assets\slider\pizza.jpg" alt="First slide"></ng-template>
    <ng-template swiperSlide><img src="\assets\slider\burger.jpg" alt="Second slide"></ng-template>
    <ng-template swiperSlide><img src="\assets\slider\french fries.jpg" alt="Third slide"></ng-template>
    <ng-template swiperSlide><img src="\assets\slider\steak.jpg" alt="Forth slide"></ng-template>
  </swiper>
</div>

<div class="features">

  <div class="section1">
    <div class="image">
      <img src="https://orchid.nop-station.com/images/thumbs/0000335_0000087_support-24-7.webp" alt="">
    </div>
    <div class="details">
      <h3 class="shipping-type--title">Support 24/7</h3>
      <p class="shipping-type--desc">We provide services for 24/7 customers</p>
    </div>
  </div>
  <div class="section2">
    <div class="image">
      <img src="https://orchid.nop-station.com/images/thumbs/0000336_0000088_30-days-return-policy.webp" alt="">
    </div>
    <div class="details">
      <h3 class="shipping-type--title">RETURN POLICY</h3>
      <p class="shipping-type--desc">You can return your products to the delivery man</p>
    </div>
  </div>
  <div class="section3">
    <div class="image">
      <img src="https://orchid.nop-station.com/images/thumbs/0000337_0000090_free-delivery-icon.webp" alt="">
    </div>
    <div class="details">
      <h3 class="shipping-type--title">Fast delivery service</h3>
      <p class="shipping-type--desc">We provide Fastest delivery services</p>
    </div>
  </div>
  <div class="section4">
    <div class="image">
      <img src="https://orchid.nop-station.com/images/thumbs/0000338_0000089_worldwide-shpping.webp" alt="">
    </div>
    <div class="details">
      <h3 class="shipping-type--title">FREE DELIVERY</h3>
      <p class="shipping-type--desc">For some special event you can get a free delivery</p>
    </div>
  </div>

</div>



<div class="latest-blog">
  <br>
<br>
<br>
  <div class="title">
    <p><i class="icon-logo-icon-left"></i>
      <strong>Achievements</strong>
      <i class="icon-logo-icon-right"></i></p>
  </div>
  <div class="news">

    <div class="news1">

      <div class="picture">
        <a href="/new-online-store-is-open">
          <img src="\assets\award\stock-vector-best-restaurant-award-vector-golden-badge-1384579919.jpg" alt="First pic">
        </a>
      </div>

      <div class="news-box-info">
        <h4 class="text-ellipsis">
          <p class="news-title" href="/new-online-store-is-open">Best Restaurant Award 2018</p>
        </h4>

        <div class="news-date">
          <span class="pr-2">June 30, 2021</span>
        </div>

        <div class="news-body">The new nopCommerce store is open now! We are very excited to offer our new range of products. We will be constantly adding to our range so please register on our site.</div>
        
      </div>
    </div>

    <div class="news2">

      <div class="picture">
        <a href="/new-online-store-is-open">
          <img src="\assets\award\best-restaurant-award.jpg" alt="second pic">
        </a>
      </div>

      <div class="news-box-info">
        <h4 class="text-ellipsis">
          <p class="news-title" href="/new-online-store-is-open">Best Restaurant Award 2019</p>
        </h4>

        <div class="news-date">
          <span class="pr-2">June 30, 2021</span>
        </div>

        <div class="news-body">The new nopCommerce store is open now! We are very excited to offer our new range of products. We will be constantly adding to our range so please register on our site.</div>
        
      </div>
    </div>

    <div class="news3">
      <div class="picture">
        <a href="/new-online-store-is-open">
          <img src="\assets\award\3rd.jpg" alt="First pic">
        </a>
      </div>
      <div class="news-box-info">
        <h4 class="text-ellipsis">
          <p class="news-title" href="/new-online-store-is-open">Best Restaurant Award 2020</p>
        </h4>
        <div class="news-date">
          <span class="pr-2">June 30, 2021</span>
        </div>
        <div class="news-body">The new nopCommerce store is open now! We are very excited to offer our new range of products. We will be constantly adding to our range so please register on our site.</div>
      </div>
    </div>
  </div>
</div>
