<div class="filter-area p-1">
  <mat-card>
    <h2>Filter Order</h2>

    <div class="filter-container">

      <mat-form-field class="filter-form-field" appearance="outline">
        <mat-label>Filter Order</mat-label>
        <mat-select #matSelectFilter (selectionChange)="onFilterSelectChange($event)">
          <mat-option *ngFor="let c of orderStatus" [value]="c.value">{{c.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="filter-date">
        <mat-form-field class="mat-date-input-field" appearance="outline" (click)="picker.open()">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="dataFormRange" [rangePicker]="picker" [max]="today">
            <input matStartDate formControlName="start" placeholder="Start date" readonly>
            <input matEndDate formControlName="end" placeholder="End date" readonly>
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="dataFormRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="dataFormRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

        <button style=" margin-left: 12px;" mat-stroked-button color="primary" (click)="onFilterData()">Filter Data
        </button>
      </div>

    </div>
  </mat-card>
</div>

<div class="p-1">

  <div class="select-area">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="dataTypeFormat">
      <mat-radio-button value="json"><span>Json</span></mat-radio-button>
      <mat-radio-button value="excel"><span>Excel</span></mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-card class="p-0">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
      <h2 class="pl-1">Orders List</h2>
      <div>

        <button mat-raised-button color="accent" style="margin-left: 12px;" (click)="exportDataToFile()">
          <mat-icon>file_download</mat-icon>
          {{dataTypeFormat ==='json' ? 'Export as Json' : 'Export as Excel'}}
        </button>
        <button mat-raised-button color="warn" style="margin-left: 12px;" (click)="pickInput.click()">
          <mat-icon>file_upload</mat-icon>
          {{dataTypeFormat ==='json' ? 'Import Json' : 'Import Excel'}}
        </button>
      </div>

      <input #pickInput fxHide type="file" (change)="onFileChange($event)" [accept]="dataTypeFormat ==='json' ? 'application/JSON' : '.xlsx, .xls, .csv' " />
    </div>

    <div class="clear-filter" *ngIf="filterQuery">
      <button mat-raised-button color="warn" (click)="clearFiltering()">
        <mat-icon>close</mat-icon>
        Clear Filter
      </button>
    </div> <!-- END CLEAR BUTTON VIEW -->

    <div class="search search-area">
      <form class="search-form" #searchForm=ngForm>
        <input #searchInput
               style="background: aliceblue;"
               type="text"
               placeholder="Search here..."
               name="searchTerm"
               autocomplete="off"
               ngModel
               required>
        <div class="icon">
          <mat-icon>search</mat-icon>
        </div>
      </form>



      <button mat-raised-button color="primary" (click)="openUpdateStatusOrderDialog()">
        Deliver Status
      </button>



    </div>





    <div class="table-container">
      <table>
        <thead>
          <tr class="table-head">
            <th class="t-checkbox">
              <mat-checkbox #matCheckbox (change)="onAllSelectChange($event)"></mat-checkbox>
            </th>
            <th scope="col">{{'Order'}}</th>
            <th scope="col">{{'Date'}}</th>
            <th scope="col">{{'City'}}</th>
            <th scope="col">{{'Payment Type'}}</th>
            <th scope="col">{{'Payment Status'}}</th>
            <th scope="col">{{'Delivery Status'}}</th>
            <th scope="col">{{'Total'}}</th>
            <th scope="col">{{'Actions'}}</th>
          </tr>
        </thead> <!-- End Table Head -->
        <tr
          *ngFor="let data of orders | paginate: { itemsPerPage: productsPerPage, currentPage: currentPage, totalItems: totalProducts }; let i = index">

          <td class="t-checkbox">
            <mat-checkbox class="t-mat-checkbox" [(ngModel)]="data.select"
                          (ngModelChange)="onCheckChange($event, i, data._id)"></mat-checkbox>
          </td>

          <td [attr.data-label]="'Order'">{{data.orderId ? '#' + data.orderId : 'N/A'}}</td>
          <td [attr.data-label]="'Date'">{{data.checkoutDate | date}}</td>
          <td [attr.data-label]="'City'">{{data.city}}</td>
          <td [attr.data-label]="'Payment Type'">{{data.paymentMethod | slugToNormal : '_'}}</td>
          <td [attr.data-label]="'Payment Status'"
              [ngClass]="[data.paymentStatus === 'paid' ? 'paid' : 'unpaid']">{{data.paymentStatus | slugToNormal}}</td>
          <td [attr.data-label]="'Delivery Status'" class="italic"
              [ngClass]="getDeliveryStatusColor(data)">{{data.deliveryStatus | orderStatus}}</td>
          <td [attr.data-label]="'Total'">৳ {{data.totalAmount}}</td>
          <td [attr.data-label]="'Actions'">
            <button style="margin-right: 5px;" mat-mini-fab color="primary" (click)="openUpdateOrderDialog(data)">
              <mat-icon>edit</mat-icon>
            </button>
            <button style="margin-right: 5px;" mat-mini-fab color="accent"
                    [routerLink]="['order-details', data._id]">
              <mat-icon>visibility</mat-icon>
            </button>
<!--            <button color="warn" (click)="deleteOrderByAdmin(data._id)" mat-mini-fab-->
<!--                    aria-label="Example icon-button with a heart icon">-->
<!--              <mat-icon>delete</mat-icon>-->
<!--            </button>-->
          </td>
        </tr><!-- End Table Body -->

      </table>
    </div>
  </mat-card>
</div>


<div class="pagination-container">
  <pagination-controls
    class="product-pagination"
    [autoHide]="true"
    [maxSize]="15"

    (pageChange)="onPageChanged($event)">
  </pagination-controls>
</div>     <!-- END PAGINATION -->


<!-- LOADING TEMPLATE -->
<ngx-spinner style="width: 100vw; height: 100vh" bdColor="rgba(0,0,0,0.25)" size="medium" color="#fff"
             type="ball-clip-rotate" [fullScreen]="true"><p style="color: white"> Loading... </p></ngx-spinner>

