@import "variables";



/** product-details-area ****/
.product-details {
  display: block;
  width: 95%;
  height: auto;
  box-sizing: border-box;
  background-color: #fff;
  margin: auto;
  margin-bottom: 7vh;
}

.product-details-main {
  display: grid;
  grid-template-columns: 1.1fr 1.4fr;
  grid-gap: 20px 30px;
  grid-template-rows: auto;
}

.product-img {
  background-color: #fff;
  border-radius: 5px;
}

.product-img1 {
  position: relative;
  z-index: 10;
  min-height: 200px;
  max-height: 430px;
  border: 1px solid #eee;
  height: auto;
}

.product-img1 img {
  cursor: pointer;
  width: 100%;
  max-height: 430px;
  height: 100%;
  object-fit: contain;
}

.product-discount {
  width: 100%;
  position: absolute;
  top: 7px;
  left: 10px;
  display: flex;
  justify-content: space-between;

  .discount {
      color: #000;
      background-color:#FFD200;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      padding: 6px 12px;
      box-sizing: border-box;
      font-size: 13px;
      border-radius: 5px;
  }
  .out-stock {
    color: #fff;
    background-color:#be0101;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 5px;
    margin-right: 18px;
  }
}

.product-img-slide {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

}

.slide-img {
  width: 100%;
  height: 95px;
  padding: 10px;
  border: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


/***** product-info *******/
.product-info {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.product-title {
  margin-bottom: 15px;
  box-sizing: border-box;
}

.product-title h2 {
  color: #be0101;
  font-family: 'Poppins', sans-serif;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

/** no ***/
.product-no {
  display: block;
  margin-bottom: 5px;
}

.product-no h3 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  display: block;
}

.product-no h3 span {
  color: #808080;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
}

/*** categori ***/

.product-categori {
  display: block;
  margin-bottom: 5px;
}

.product-categori h3 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  display: block;
}

.product-categori h3 a {
  color: #808080;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 14px;
  margin-left: 4px;
  font-style: normal;
  transition: all 0.3s linear;
}

.product-categori h3 a:hover {
  color: #3d74d5;
}

/*** tag ***/

.product-tag {
  display: block;
  margin-bottom: 5px;
}

.product-tag h3 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  display: block;
}

.product-tag h3 a {
  color: #808080;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 14px;
  margin-left: 2px;
  font-style: normal;
  transition: all 0.3s linear;
}

.product-tag h3 a:hover {
  color: #3d74d5;
}

/*** price ***/
.product-price {
  display: block;
  width: 100%;
  height: auto;
  padding: 8px 0px;
  margin: 10px 0px;
}

.product-price h3 {
  color: #be0101;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: block;
  font-weight: 600;
}

.product-price h3 del {
  display: inline-block !important;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #b2b2b2;
  font-size: 21px;
  display: block;
  line-height: 22px;
  font-weight: 400;
  margin-right: 10px;
}

/*** description ***/

.product-discription {
  display: block;
  margin-bottom: 25px;
  width: 90%;
  //background-color: #eeeeee3b;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);;
  box-sizing: border-box;
}
.product-discription .description{
  border: none!important;
}

.product-discription p {
  color: #808080;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  display: block;
  width: 100%;
  line-height: 25px;
  font-size: 15px;
}

/** product-btn ***/
.product-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-basis:33%;
  margin-bottom: 15px;
}

.item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 15px;
}

#mines {
  display: block;
  margin-right: 7px;
}

#mines button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ccc;
  transition: all 0.3s linear;
}

#mines button:focus {
  background-color: #f2ba22;
  color: #000;
  border-color: #f2ba22;
}

#mines button:hover {
  background-color: #f2ba22;
  color: #000;
  border-color: #f2ba22;
}

#value {
  display: block;
  margin-right: 7px;
}

#value input {
  width: 60px;
  height: 38px;
  border: 1px solid #ebebeb;
  display: block;
  text-align: center;
  background-color: #fff;
  outline: none;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

#value input:focus {
  border-color: #f2ba22;
}

#plus {
  display: block;
}

#plus button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ccc;
  transition: all 0.2s linear;
}

#plus button:focus {
  background-color: #f2ba22;
  color: #000;
  border-color: #f2ba22;
}

#plus button:hover {
  background-color: #f2ba22;
  color: #000;
  border-color: #f2ba22;
}

/** add-btn ***/
.add-btn {
  display: block;
  max-width: 190px;
  width: 100%;
}

.add-btn a {
  cursor: pointer;
  display: block;
  max-width: 180px;
  padding: 1px 0px;
  text-align: center;
  box-sizing: border-box;
  background-color: #be0101;
  border-radius: 3px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

/** add-wishlist **/
.add-wishlist {
  display: block;
  width: 100%;
  height: auto;
  margin-left: 5px;
}

.add-wishlist a {
  cursor: pointer;
  display: block;
  max-width: 180px;
  text-align: center;
  padding: 0px 0;
  box-sizing: border-box;
  background-color: #FFD200;
  border-radius: 3px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  box-shadow: none;
  border: 1px solid transparent;
}

.add-wishlist a span {
  font-size: 15px;
  transition: all 0.3s linear;
  margin-right: 3px;
}

// .add-wishlist a:hover {
//   color: #3d74d5;
// }

// .add-wishlist a:hover span {
//   color: #3d74d5;
// }

/** social-area **/
.change-width {
  max-width: 40px !important;
  width: 100%;
}

.change-width1 {
  width: 32px !important;
}

.social-link {
  margin-top: 8px;
  margin-bottom: 10px;
}

.social-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.social-link ul li {
  display: block;
  margin-right: 10px;
  width: 25px;
}

.social-link ul li a i {
 font-size: 24px;
}

/** product-policy-area **/
.product-policy-area {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 20px;
}

.policy-menu {
  display: block;
  width: 100%;
  height: auto;
}

.policy-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.policy-menu ul li {
  display: inline-block;
  margin-right: -3px;
  padding: 0px;
}

.policy-menu ul li a {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  display: block;
  background-color: #fff;
  padding: 9px 13px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  cursor: pointer;

  &.active {
    background-color: #be0101;
    color: #fff;

    &:hover {
      color: #FFFFFF;
    }
  }
}

.policy-menu ul li a:hover{
  color: #be0101;
}

.policy-menu ul li a:focus{
  background-color: #3d74d5;
  color: #fff;
}



.dv-details {
  display: inline-block;
  width: 90%;
  height: auto;
  border: 1px solid #ebebeb;
  padding: 25px 25px;
  box-sizing: border-box;
  border-radius: 3px;

}

.dv-details p {
  color: #333;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: block;
  font-size: 13px;
  line-height: 24px;
}


/** product-menu **/
@media(max-width:500px){
  .product-menu ul{
    text-align: center;
  }
  .product-details-menu-area{
    width: 98%;
  }

}
/** product-details **/
@media(max-width:920px){
  .product-details-main{
    grid-template-columns: 1fr;
  }
  .product-img{
    margin-bottom: 20px;
  }
}
@media(max-width:500px){
  .product-details{
    width: 100%;
  }
  .product-details p{
    font-size: 14px;
  }
  .product-discription{
    width: 100%;
  }

}
@media(max-width:550px){

  .product-img-slide {
    width: 100%;
    max-width: 300px;
    //margin: 0 auto;

  }

  .product-img1 {
    //position: relative;
    //z-index: 10;
    height: auto;
  }

  .product-img1 img {
    //cursor: pointer;
    //width: 100%;
    //height: auto;
    //max-height: 100%;
    //object-fit: contain;
  }
  .dv-details{
    width: 100%;
  }
}
@media(max-width:500px){
  .policy-menu ul li{
    display: block;
    margin-bottom: 5px;
  }
  .policy-menu ul li a{
    text-align: center;
    border-radius: 4px;
  }
}


@media(min-width:960px) and (max-width:1440px){
  .container{
    width: 94%!important;
  }
  .slide-img {
    width: 100%;
    height: 90px;
  }
  .product-title{
    margin-bottom: 13px!important;
  }
  .product-title h2{
    font-size: 18px!important;
  }
  .product-no{
    margin-bottom: 3px!important;
  }
  .product-no h3{
    font-size: 14px!important;
  }
  .product-no h3 span{
    font-size: 13px!important;
  }
  .product-categori{
    margin-bottom: 3px!important;
  }
  .product-categori h3{
    font-size: 14px!important;
  }
  .product-categori h3 a{
    font-size: 13px!important;
  }

  .product-tag{
    margin-bottom: 3px!important;
  }
  .product-tag h3{
    font-size: 14px!important;
  }
  .product-tag h3 a{
    font-size: 13px!important;
  }


  .product-price {
    padding: 6px 0px;
    margin: 8px 0px;
  }

  .product-price h3 {
    font-size: 19px;
  }

  .product-price h3 del {
    font-size: 17px;
  }
  #plus button{
    width: 36px;
    height: 36px;
  }
  #mines button{
    width: 36px;
    height: 36px;
  }
  #value input{
    width: 55px;
    height: 35px;
  }
  // .add-btn a{
  //   padding: 7px 0px;
  //   width: 175px;
  // }
  .add-wishlist ul li a{
    font-size: 15px;
  }
  .add-wishlist ul li a span{
    font-size: 14px;
  }
  .social-link ul li a img{
    max-width: 36px;
  }
}


@media(min-width:940px) and (max-width:1070px){
  .product-btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .item-btn{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .add-wishlist a,.add-btn a{
    max-width: 220px;
    padding-left: 5px;
    min-width: 130px;
    padding-right: 5px;
    box-sizing: border-box;
  }
}
@media(max-width:550px){
  .product-btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .item-btn{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .add-wishlist a,.add-btn a{
    max-width: 220px;
    padding-left: 5px;
    min-width: 130px;
    padding-right: 5px;
    box-sizing: border-box;
  }

}
::ng-deep.share share-button button{
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  font-style: normal;
  font-weight: 600;
  margin-right: 10px;
  border-radius: 2px;
}
::ng-deep.share share-button:nth-child(1) button{
  background-color: #3B5998;
}
::ng-deep.share share-button:nth-child(2) button{
  background-color: #5DA9DD;
}
::ng-deep.share share-button:nth-child(3) button{
  background-color: #0077B5;
}
::ng-deep.share share-button button fa-icon{
  font-size: 14px;
}
