.example-spacer {
  flex: 1 1 auto;
}
.toolbar{
  background-color: rgb(236, 236, 236);
}
h2{
  font-size: 1.6em;

  color: #c41515;
}
.menu{
  flex: 1 1;

}
.mat-icon{
  color: #060606;
}
#btn-login
{
  background-color:rgb(27, 158, 27);
}
#btn-register{
  background-color:rgb(49, 49, 170);
}
#btn-profile{
  color:rgb(0, 0, 0);
}

