<div class="main">
  <div class='dashboard'>
    <div class='button1'>
      <button type="button" class="btn1" mat-raised-button color="accent" (click)="products()">Products</button>
    </div>
    <div class='button2'>
      <button type="button" class="btn2" mat-raised-button color="accent" (click)="orders()">Orders</button>
    </div>

    <div class='button12'>
      <button type="button" class="btn3" mat-raised-button color="primary" (click)="image_gallery()">Image Gllery</button>
    </div>

    <div class='button22'>
      <button type="button" class="btn3" mat-raised-button color="primary" (click)="image_folder()">Image Folder</button>
    </div>

    <div class='button3'>
      <button type="button" class="btn3" mat-raised-button color="primary" (click)="users()">Users</button>
    </div>
    <div class='button31'>
      <button type="button" class="btn3" mat-raised-button color="primary" (click)="admins()">Admins</button>
    </div>
    <div class='button4'>
      <button type="button" class="btn4" mat-raised-button color="primary" (click)="admin_profile()">Admin Profile</button>
    </div>
  </div>

</div>
