<div class="card">
    <!--** card-img ***-->
    <div class="card-img">
      <!-- <a [routerLink]="['/product-details', product?.productSlug]"> -->
      <a [routerLink]="['/', product?.name]">
        <img [defaultImage]="'/assets/images/placeholder/test.png'" [lazyLoad]="product.images[0]"
             [alt]="product?.name"></a>
      <!--** card-hover-img **-->
      <div class="card-hover-img" *ngIf="product?.images && product?.images.length > 1">
        <!-- <a [routerLink]="['/product-details', product?.productSlug]"> -->
        <a [routerLink]="['/', product?.productSlug]">
          <img [src]="product?.images[1]"
               [alt]="product?.productName"></a>
      </div>
      <!--** discount-area **-->
      <span fxHide [fxShow]="product?.quantity <= 0" class="out-stock">Stock Out</span>
    </div>

    <!--** card-body-area **-->
    <div class="card-body">
      <!--** card-rating **-->

  <!--    <div class="card-rating">-->
  <!--      <ul>-->
  <!--        <li><i class="fa fa-star"></i></li>-->
  <!--        <li><i class="fa fa-star"></i></li>-->
  <!--        <li><i class="fa fa-star"></i></li>-->
  <!--        <li><i class="fa fa-star"></i></li>-->
  <!--        <li><i class="fa fa-star"></i></li>-->
  <!--      </ul>-->
  <!--    </div>-->
      <!--** Card-discription**-->
      <div class="card-link">
        <!-- <a [routerLink]="['/product-details', product?.productSlug]">{{product?.productName}}</a> -->
        <a [routerLink]="['/', product?.name]">{{product?.name}}</a>
      </div>

         <!--- Product-serial-no -->


        <!-- Product-categori -->

        <!--Campaign-->
<!--        <div class="">-->
<!--          <p>{{product?.campaignStartDate | date}}</p>-->
<!--          <p>{{product?.campaignEndDate | date}}</p>-->
<!--        </div>-->

        <!-- Product-tag -->




      <!--** price-and-Icon-menu ***-->
      <div class="price-icon">
        <!--** price **-->
        <div class="card-price">
          <h3 class="main-price"><span>৳</span>{{product | price | number: '': 'bn'}}
            <del  class="save"> <small>৳</small>{{product?.price | number: '': 'bn'}}</del>
          </h3>
        </div>
        <!--** Card-icon_menu **-->
        <div class="card-icon-menu">
          <ul>
            <li [fxHide]="product?.quantity <= 0"><a (click)="addToCart($event)"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a (click)="openComponentDialog({viewProduct: product})"><i class="fa fa-eye"></i></a></li>

  <!--          <li><a href="#"><i class="fa fa-clone"></i></a></li>-->

          </ul>
        </div>
      </div>
    </div>
  </div>
