<div class="viewuser">
  <h2>View Product</h2>

  <hr/>
  <div>

    <table class="table">
      <tbody>
        <tr>
          <th><strong>Product Name:</strong></th>
          <td>{{product?.name}}</td>
        </tr>
        <tr>
          <th><strong>Product Size:</strong></th>
          <td>{{product?.size}}</td>
        </tr>
        <tr>
          <th><strong>Product Price:</strong></th>
          <td>{{product?.price}}</td>
        </tr>

      </tbody>
    </table>

  </div>


</div>



