<div class="order">
  <h2>Profile</h2>

  <hr/>
  <div>

    <table class="table">
      <tbody>
        <tr>
          <th>Name</th>
          <td>Pizza</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>400 tk</td>
        </tr>
        <tr>
          <th>Size</th>
          <td>Breadth: 12 inch</td>
        </tr>
        <tr>
          <th>Ingredients</th>
          <td>vegetables, bread, cheese</td>
        </tr>
        <tr>
          <th>Payment Method</th>
          <td>Cash on Delivery</td>
        </tr>
      </tbody>
    </table>

  </div>

  <br>
  <br>
  <button (click)="payment()">Order</button><br>
  <br>
  <button (click)="dashboard()">Go Back</button><br>

</div>

