<div class="dialog-container">

  <div class="dialog-container">

    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Address Info</h2>
      <button mat-button mat-dialog-close>Cancel</button>
    </div>

    <form [formGroup]="formData" (ngSubmit)="onSubmitAddress()" class="form">

      <div class="form-input-area" fxLayout="row wrap">

        <mat-radio-group
          class=" form-radio px-1"
          aria-label="Received Form"
          fxFlex="100"
          formControlName="addressType" required>
          <mat-radio-button *ngFor="let d of addressTypes" [value]="d.value">{{d.viewValue}}</mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="outline" class="form-field px-1" fxFlex.gt-xs="50" fxFlex="100">
          <mat-label>Full name</mat-label>
          <input formControlName="name" required matInput placeholder="Full name">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error>This field is required</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="form-field px-1" fxFlex.gt-xs="50" fxFlex="100">
          <mat-label>Phone No</mat-label>
          <input formControlName="phoneNo" matInput placeholder="Phone No" type="tel" required>
          <mat-icon matSuffix>call</mat-icon>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field px-1" fxFlex.gt-xs="50" fxFlex="100">
          <mat-label>Alternative Phone No</mat-label>
          <input formControlName="alternativePhoneNo" matInput placeholder="Phone No" type="tel">
          <mat-icon matSuffix>call</mat-icon>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field px-1" fxFlex.gt-xs="50" fxFlex="100">
          <mat-label>City</mat-label>
          <mat-select formControlName="city" required (selectionChange)="onSelectCity($event)">
            <mat-option *ngFor="let c of locations" [value]="c">{{c.city}}</mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field px-1" fxFlex.gt-xs="50" fxFlex="100">
          <mat-label>Area</mat-label>
          <mat-select formControlName="area" required (selectionChange)="onSelectArea($event)" (click)="onClickCity()">
            <mat-option *ngFor="let a of areaTemp" [value]="a">{{a.name}}</mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field px-1" fxFlex.gt-xs="50" fxFlex="100">
          <mat-label>Zone</mat-label>
          <mat-select formControlName="zone">
            <mat-option *ngFor="let z of zoneTemp" [value]="z">{{z}}</mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field px-1" fxFlex.gt-xs="50" fxFlex="100">
          <mat-label>Shipping Address</mat-label>
          <input formControlName="shippingAddress" matInput placeholder="Address" required>
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

      </div>
      <div class="action-area">
        <button mat-raised-button color="primary" type="submit" [disabled]="formData.invalid">
          Save
        </button>
      </div>

    </form>
  </div>


</div>
